.date-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 15px;
    border-radius: 12px;
    max-width: 800px; /* Aumenta a largura */
    width: 100%;
    height: auto; /* Reduz a altura */
    margin: -35px;
    margin-bottom: 5px;
  }
  
  .filter-title {
    color: #b4afaf;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .date-inputs {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 50%;
    margin-bottom: 25px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    text-align: center;
  }
  
/* Diminui a aparência do calendário em navegadores baseados em WebKit (Chrome, Edge, Safari) */
.date-input::-webkit-datetime-edit {
    font-size: 14px; /* Reduz o tamanho do texto */
  }
  
  .date-input::-webkit-calendar-picker-indicator {
    width: 8px; /* Diminui o ícone do calendário */
    height: 8px;
  }
  
  .date-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
    width: 120px; /* Diminui a largura do input */
    height: 25px; /* Ajusta a altura */
  }

  .image-container {
    width: 100%;
    background: #1d1c1c;
    padding: 10px;
    border-radius: 8px;
    height: 90px; /* Ajusta a altura */
  }
  
  .image-title {
    margin-bottom: 20px;
    color: #ccc;
    text-align: center;
  }
  
  .sensor-image {
    border-radius: 8px;
    margin-bottom: 10px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .no-image-text {
    color: #92a4b6;
    text-align: center;
  }